HTML CSSResult
EDIT ON
*{
  box-sizing: border-box;
}
.wrapper{
  width: 27%;
  margin: 0 auto;
}
.square{
  font-family: sans-serif;
  border: solid black 2px;
  padding: 1em;
    float:left;
    width: 30px;
    margin-right:3%;
    margin-top: 2%;
    
    text-align: center;
}
.square1{
    font-family: sans-serif;
    color: white;
    border: solid white 2px;
    padding: 1em;
      float:left;
      width: 30px;
      margin-right:3%;
      margin-top: 2%;
    
  }

.square:last-child{
  margin-right:0;
}
.square:before{
    content:"";
    display:block;
    padding-top:100%;
  float: left; 
  
}

.rotate1{
    color: green;
}
.rotate2{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.rotate3{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.rotate4{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
